#site-contents > #home-products-carousel {
    padding: 0;
}
.carousel {
    position: relative;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 9px;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#home-products-carousel .carousel .item {
    width: 100%;
    background-color: #777;
    max-height: 650px;
}
@media not all, (-webkit-transform-3d)
main.css? [sm]:1
.carousel-inner>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
}
img {
    vertical-align: middle;
}
.xmas-bg {
    padding-bottom: 10px;
}
.background-white {
    background: #fff;
}
@media (min-width: 992px)
.container {
    max-width: 980px;
}
@media (min-width: 1200px)
.container {
    width: 1160px;
}
@media (min-width: 992px)
.container {
    width: 960px;
}
@media (min-width: 768px)
.container {
    width: 740px;
}
.container {
    width: 100%;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}
#site-contents .section-heading {
    margin: 30px 0 20px;
    font-size: 20px
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.col-md-2 {
    width: 16.66667%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.product-list .product-item {
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.product-list a {
    display: block;
    color: #333;
    text-decoration: none;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.product-item .product-title {
    overflow: hidden;
    height: 55px;
}
.product-list .product-title {
    padding: 10px;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.product-list .product-title, .product-list .product-meta {
    text-align: center;
}
h4, .h4 {
    font-size: 17px;
}
.dynamic-modules.has-4-part .dynamic-module:nth-child(4n+1) {
    clear: both;
}

.dynamic-module-wrap {
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-bottom: 0;
}
.dynamic-modules {
    position: relative;
    border-bottom: 1px solid #eee;
}

.dynamic-module-wrap {
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-bottom: 0;
}

.dynamic-modules:after,
.dynamic-module:after {
    content: '';
    display: table;
    clear: both;
}

.dynamic-modules {
    position: relative;
    border-bottom: 1px solid #eee;
}

.dynamic-module:before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 1px;
    overflow: hidden;
    background: #eee;
}

.dynamic-module {
    float: left;
    margin: 20px 0;
    box-sizing: border-box;
}

.dynamic-module-img {
    display: block;
    width: 100%;
    max-width: 300px;
}

.dynamic-module-img img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

/* 4 part */

.dynamic-modules.has-4-part .dynamic-module:before {
    margin-left: -41px;
}

.dynamic-modules.has-4-part .dynamic-module:first-child:before {
    width: 0;
}

.dynamic-modules.has-4-part .dynamic-module {
    padding: 0 40px;
    width: 25%;
}

.dynamic-modules.has-4-part .dynamic-module-img {
    margin: 20px 0 30px 0;
}

.dynamic-modules.has-4col-items .dynamic-module:before {
    margin-left: -31px;
}

.dynamic-modules.has-4col-items .dynamic-module {
    padding: 0 30px;
}

.dynamic-modules.has-4col-items .dynamic-module {
    width: 25%;
}

.dynamic-modules.has-4col-items .dynamic-module:nth-child(4n+1) {
    clear: both;
}

.dynamic-modules.has-4col-items .dynamic-module-title {
    margin-bottom: 30px;
}